<p>Template for a PhD thesis following the
	<a href="https://www.tudelft.nl/en/tu-delft-corporate-design">
		TU Delft corporate design</a>, using the font family
	<a href="https://ctan.org/pkg/roboto">Roboto</a> or alternatively using
	the LaTeX package '<a href="https://ctan.org/pkg/fourier">Fourier</a>'.
</p>

<p>The template extends and updates the dissertation template by
	<a href="https://www.overleaf.com/latex/templates/tud-dissertation/tcddkjggskqx">
		K.P. Hart</a> and Wouter Bolsterlee.
</p>